src/main/resources/employe.xsd

<xs:schema targetNamespace="http://mytest.com/CommonTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
        <xs:element name="department">
            <xs:complexType>
                <xs:sequence>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="firstName" type="xs:string"/>
        <xs:element name="id" type="xs:short"/>
        <xs:element name="lastName" type="xs:string"/>
    </xs:schema>